{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% comment %} {% load account socialaccount %} {% endcomment %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block body %}
{% block content %}

{% comment %} {% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p> {% blocktranslate %} Пожалуйста, войдите с одним из ваших внешних аккаунтов. <br> Или <a href="{{ signup_url}}">зарегистрируйтесь</a>  и авторизуйтесь на сайте {{ site.name }}: {% endblocktranslate %}</p>

<div class="socialaccount_ballot">

    {% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process='login' %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %} {% endcomment %}
{% comment %} <div>
  <a title="{{provider.name}}" class="btn btn-dark socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}">{{provider.name}}</a>
</div>
{% endfor %} {% endcomment %}


  {% comment %} <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %} {% endcomment %}
{% comment %} <p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %} {% endcomment %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
  <button class="btn btn-dark mt-2" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
{% endblock body %}