{% load static %}
{% block body %}
<div class="container">
    <h1>Проверьте комплектацию и технические характеристики техники Силант</h1>
    <hr />
    <div class="search_form">
        <input type="text" id='factoryNumberInput' placeholder="Заводской номер" />
        <button id='factoryNumberButton'>Поиск</button>
    </div>
    <div class="result">
        <h3>
            Информация о комплектации и технических характеристиках Вашей
            техники
        </h3>
        <div class="result_table">
            <table id='dataTable'>
                <tr>
                    <th colspan="10">ОБЩИЕ СВЕДЕНИЯ</th>
                </tr>
                <tr>
                    <th>Модель техники</th>
                    <th>Зав. № машины</th>
                    <th>Модель двигателя</th>
                    <th>Зав. № двигателя</th>
                    <th>Модель трансмиссии (производитель, артикул)</th>
                    <th>Зав. № трансмиссии</th>
                    <th>Модель ведущего моста</th>
                    <th>Зав. № ведущего моста</th>
                    <th>Модель управляемого моста</th>
                    <th>Зав. № управляемого моста</th>
                </tr>
                <tr id='machineInfo'>
               
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock body %}